
/* General Styling */
.page-container {
  margin: 0;
  padding: 0;
}

/* Hero Section */
.subhero-container {
  display: flex;
  flex-direction: row;
  height: 80vh;
}

.subhero-left {
  flex: 0.95;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8); /* Black with transparency */
  color: #fff;
  padding: 20px;
}
.subhero-text-content {
 
  max-width: 600px;
  text-align: center;
  margin-top: -150px;
}

.subhero-title {

  font-size: 3rem !important;
  font-weight: bold;
  margin-bottom: 1rem;
  text-transform: uppercase;
  
  line-height: 1.2;
}


.subhero-right {
  flex: 1;
  overflow: hidden;
}

.subhero-image {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}
.hotbg{
  height: 50vh;
  background-image: url('../../Images/images-hoses.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  position: relative;
}

.autoclave{
  height: 80vh;
  background-image: url('../../Images/Autoclave-Vulcanizers-2-1.avif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  position: relative;
}
.autoclave-content{
  width: 500px;
  font-size: 16px;
  line-height: 1.6;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  margin-top: 80px;
  
}
.autoclave-content1{
  font-size: 16px;
  line-height: 1.8;
  width: 700px;
  margin-top: 80px;
padding: 30px;
 color: black;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.autoclave-content2{
  width: 1200px;
  gap: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 400px;
margin: 40px;
}
.compression-content1{
  font-size: 16px;
  line-height: 1.8;
  width: 700px;
  margin-top: 80px;
padding: 30px;
 color: black;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.autoclave-content img {
  max-width: 100%; /* Prevents image overflow */
  height: auto; /* Maintain aspect ratio */
  border-radius: 10px; /* Optional for aesthetics */
  margin-bottom: 20px; /* Space below the image */
}



.autoclave-article {
 
  background-image: url('../../Images/Autoclave-Vulcanizers-2-1.avif');
  background-position:50% center !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  position: relative;
	z-index: 1;
	color: #000;
	background-attachment: fixed;
}
article .content {
  position: relative;
  z-index: 2; 
}
@media screen and (min-width: 700px) {
  
	.autoclave-card {
		background:white;
		width: calc( 50% + 1px);
		height: 100vh;
		margin: 0 0 0 0;
		position: sticky;
		top: 0;
		overflow: hidden;
   z-index: 1000;

			}
	
			.autoclave-card:nth-of-type(2n)::after {
		right: 45%;
		left: 5vmin;
	}
			.autoclave-card:nth-of-type(1) {
		margin: 0 0 0 0;
    height: 100vh;
		width: 50%;
    display: flex;
    background-color: white !important;
    color:white;
   
    background-attachment: fixed;
			}

	.autoclave-card:nth-of-type(2n) {
margin: 0 0 0 auto;
height: 80vh;
width: 50%;
background-image: url('../../svgfiles/diagonal.svg');
font-size: 16px;
color: black;

line-height: 1.6;
background-attachment: fixed;
   
    
			}
      .autoclave-card:nth-of-type(3n) {
     margin: 0 0 0 auto;
height: 80vh;
width: 100%;
display: flex;
background-color: #1e202c !important;
color: black;
background: url('../../svgfiles/diagonal2.svg');
background-attachment: fixed;
font-size: 16px;
color: white;

line-height: 1.6;
background-attachment: fixed;
          }
}
@media screen and (max-width: 700px) {
  
	.autoclave-card {
		background:white;
		width: calc( 50% + 1px);
		height: 100vh;
		margin: 0 0 0 0;
		position: sticky;
		top: 0;
		overflow: hidden;
   z-index: 1000;

			}
	
			.autoclave-card:nth-of-type(2n)::after {
		right: 45%;
		left: 5vmin;
	}
			.autoclave-card:nth-of-type(1) {
		margin: 0 0 0 0;
    height: 100vh;
		width: 50%;
    display: flex;
    background-color: white !important;
    color:white;
   
    background-attachment: fixed;
			}

.autoclave-card:nth-of-type(2n) {
margin: 0 0 0 auto;
height: 80vh;
width: 50%;
background-image: url('../../svgfiles/diagonal.svg');
font-size: 16px;
color: black;

line-height: 1.6;
background-attachment: fixed;
   
    
			}
.autoclave-card:nth-of-type(3n) {
     margin: 0 0 0 auto;
height: 80vh;
width: 100%;
display: flex;
background-color: #1e202c !important;
color: black;
background: url('../../svgfiles/diagonal2.svg');
background-attachment: fixed;
font-size: 16px;
color: white;
line-height: 1.6;
background-attachment: fixed;
          }
          .autoclave-content{
     
            font-size: 16px;
            line-height: 1.6;
            text-align: left;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-left: -80px;
            margin-top: 80px;
            
          }
          .autoclave-content img{
            width:350px !important;
            
          }
          .autoclave-content1 p{
            width: 300px;
            font-size: 16px;
            line-height: 1.8;
            margin-top: -120px;
           color: black;
            text-align: left;
         padding: 30px;
          margin-left: -400px;
          }
          
 .autoclave-content2{
            width: 650px;
            gap: 20px;
            text-align: left;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-left: 400px;
          margin: 40px;
          }
          .compression-content1 p{
            width: 300px;
            font-size: 16px;
            line-height: 1.8;
            margin-top: -120px !important;
           color: black;
            text-align: left;
         padding: 30px;
          margin-left: -400px;
          }
}

@media screen and (max-width: 480px) {
  
	.autoclave-card {
		background:white;
		width: calc( 50% + 1px);
		height: 100vh;
		margin: 0 0 0 0;
		position: sticky;
		top: 0;
		overflow: hidden;
   z-index: 1000;

			}
	
			.autoclave-card:nth-of-type(2n)::after {
		right: 45%;
		left: 5vmin;
	}
			.autoclave-card:nth-of-type(1) {
		margin: 0 0 0 0;
    height: 100vh;
		width: 50%;
    display: flex;
    background-color: white !important;
    color:white;
   
    background-attachment: fixed;
			}

.autoclave-card:nth-of-type(2n) {
margin: 0 0 0 auto;
height: 80vh;
width: 50%;
background-image: url('../../svgfiles/diagonal.svg');
font-size: 16px;
color: black;

line-height: 1.6;
background-attachment: fixed;
   
    
			}
.autoclave-card:nth-of-type(3n) {
     margin: 0 0 0 auto;
height: 80vh;
width: 100%;
display: flex;
background-color: #1e202c !important;
color: black;
background: url('../../svgfiles/diagonal2.svg');
background-attachment: fixed;
font-size: 16px;
color: white;
line-height: 1.6;
background-attachment: fixed;
          }
          .autoclave-content{
     width: 450px;
            font-size: 16px;
            line-height: 1.6;
            text-align: left;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-left: -80px;
            margin-top: 150px;
            
          }
          .autoclave-content img{
            width:200px !important;
            
          }
          .autoclave-content1 p{
            width: 200px;
            font-size: 14px;
            line-height: 1.8;
            margin-top: -100px;
           color: black;
            text-align: left;
         padding: 30px;
          margin-left: -500px;
          }
          .autoclave-content1 ul{
        font-size: 14px;
           
          }
          .autoclave-content1 h4{
            font-size: 14px !important;
          }
          
 .autoclave-content2{
            width: 400px;
            gap: 20px;
            text-align: left;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-left: 50px !important;
          margin: 10px;
          }
          .autoclave-content2 p{
            font-size: 14px !important;
          }
          .autoclave-content2 ul{
            font-size: 14px !important;
          }
          .autoclave-content2 h4{
            font-size: 14px !important;
          }
          .compression-content1 p{
            width: 200px;
            font-size: 14px;
            line-height: 1.8;
            margin-top: -120px !important;
           color: black;
            text-align: left;
         padding: 30px;
          margin-left: -500px;
          }
          .compression-img{
            margin-left: -50px;
            width: 250px !important;
          }
}


/*3 roll*/
.rollhero-image{
  
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image fills the space without distortion */
  }
.roll{
  height: 80vh;
  background-image: url('../../Images/3rollbg3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  position: relative;
}
.roll-article{
  background-image: url('../../Images/3rollbg3.jpg');
  background-position:50% center !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  position: relative;
	z-index: 1;
	color: #000;
	background-attachment: fixed;
}
/* Compression-transfer molding*/
.compression{
  height: 80vh;
  background-image: url('../../Images/rubber-compression-moldingbg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  position: relative;
}
.compression-article{
  background-image: url('../../Images/rubber-compression-moldingbg.jpg');

  background-position:50% center !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  position: relative;
	z-index: 1;
	color: #000;
	background-attachment: fixed;
}
.compressionbg{
  height: 100vh;
  background-image: url('../../Images/compressionbg3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  position: relative;
}

/*Rubber-Mixing*/
.rubber-mixing{
  height: 80vh;
  background-image: url('../../Images/rubbermixing\ bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  position: relative;
}
.rubber-mixing-article{
  background-image: url('../../Images/rubbermixing\ bg.jpg');
  background-position:50% center !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  position: relative;
	z-index: 1;
	color: #000;
	background-attachment: fixed;
}
.rubber-mixing{
  height: 100vh;
  background-image: url('../../Images/rubbermixing\ bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  position: relative;
}
.rubbermixing-hero{
  background-size: cover !important;
}

/*Knitting machine*/
.Knitting{
  height: 80vh;
  background-image: url('../../Images/knittingbg4.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  position: relative;
}
.Knitting-article{
  background-image: url('../../Images/knittingbg4.jpg');
  background-position:50% center !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  position: relative;
	z-index: 1;
	color: #000;
	background-attachment: fixed;
}
.Knittingbg{
  height: 100vh;
  background-image: url('../../Images/knittingbg4.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  position: relative;
}
.knittinghero-image{
  background-size: cover;
}