
/* General Styling */
.page-container {

  margin: 0;
  padding: 0;
}



/* Hero Section */
.subhero-container {
  display: flex;
  flex-direction: row;
  height: 80vh;
}

.subhero-left {
  flex: 0.95;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8); /* Black with transparency */
  color: #fff;
  padding: 20px;
}

.subhero-text-content {
 
  max-width: 600px;
  text-align: center;
  margin-top: -150px;
}

.subhero-title {

  font-size: 3rem !important;
  font-weight: bold;
  margin-bottom: 1rem;
  text-transform: uppercase;
  
  line-height: 1.2;
}


.subhero-right {
  flex: 1;
  overflow: hidden;
}

.dispersionhero-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image fills the space without distortion */
}
.disperssionbg{
  height: 80vh;
 
	background-image: url('../../Images/dispersionbg3.jpg');

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  position: relative;
}
.dispersionbg{
  height: 100vh;
  background-image: url('../../Images/dispersionbg3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  position: relative;
}
.dispersion-img, .stock-img {
  width: 30%;
  height: auto;
  display: block;
 
}

.dispersionsub-content{
  width: 100%;
  margin-top: -30px;
  gap: 60px;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}
.sub-content1{
  width: 90%;
  font-size: 16px;
  line-height: 1.6;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  
}
.dispersionsub-content2{
  width: 100%;
  gap: 60px;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}
.disperssion-info{
  width: 50% !important;
  font-size: 16px !important;

}
.disperssion-info2{
  width: 90% !important;
  font-size: 16px !important;

}
.dispersionsub-content3{
  width: 100%;
  margin-top: 50px;
  gap: 60px;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
 

}
.dispersionsub-content img {
  max-width: 100%; /* Prevents image overflow */
  height: auto; /* Maintain aspect ratio */
  border-radius: 10px; /* Optional for aesthetics */
  margin-bottom: 20px; /* Space below the image */
}

.dispersionsub-content4{
  width: 100%;
  text-align: left; 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
 

}

.dispersion-article {
 
	background-image: url('../../Images/dispersionbg3.jpg');

  background-position:50% center !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  position: relative;
	z-index: 1;
	color: #000;
	background-attachment: fixed;
}

article .content {
  position: relative;
  z-index: 2; 
}
@media screen and (min-width: 700px) {
  
	.sub-card {
		background:white;
		width: calc( 50% + 1px);
		height: 100vh !important;
		margin: 0 0 0 0;
		position: sticky;
		top: 0;
		overflow: hidden;
   z-index: 1000;

			}
	
			.sub-card:nth-of-type(2n)::after {
		right: 45%;
		left: 5vmin;
	}
			.sub-card:nth-of-type(1) {
		margin: 0 0 0 0;
    height: 100vh;
		width: 50%;
    display: flex;
    background-color: #1e202c !important;
    color:white;
    background: url('../../svgfiles/diagonal2.svg');
    background-attachment: fixed;
			}

	.sub-card:nth-of-type(2n) {
margin: 0 0 0 0;
height: 100vh;
width: 100%;
background-image: url('../../svgfiles/diagonal.svg');
font-size: 16px;
color: black;

line-height: 1.6;
background-attachment: fixed;
   
    
			}
      .sub-card:nth-of-type(3n) {
     margin: 0 0 0 0;
height: 100vh;
width: 100%;
display: flex;
background-color: #1e202c !important;
color: black;
background: url('../../svgfiles/diagonal2.svg');
background-attachment: fixed;
font-size: 16px;
color: white;

line-height: 1.6;
background-attachment: fixed;
          }
          .sub-card:nth-of-type(5n) {
            height: 80vh;
            margin: 0 0 0 0;
            width: 100%;
            background-color: #1e202c !important;
            background: url('../../svgfiles/diagonal2.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            color: white;
              }
             
              
}
@media screen and (max-width: 700px) {
  
	.sub-card {
		background:white;
		width: calc( 100% + 1px);
		height: 100vh !important;
		margin: 0 0 0 0;
		position: sticky;
		top: 0;
		overflow: hidden;
   z-index: 1000;

			}
	
			.sub-card:nth-of-type(2n)::after {
		right: 50%;
		left: 5vmin;
	}
			.sub-card:nth-of-type(1) {
		margin: 0 0 0 0;
    height: 100vh;
		width: 100%;
    display: flex;
    background-color: #1e202c !important;
    color:white;
    background: url('../../svgfiles/diagonal2.svg');
    background-attachment: fixed;
			}

	.sub-card:nth-of-type(2n) {
margin: 0 0 0 0;
height: 100vh !important;
width: 100%;
background-image: url('../../svgfiles/diagonal.svg') !important;
font-size: 16px;
color: black !important;
line-height: 1.6;
background-attachment: fixed;
   
    
			}
      .sub-card:nth-of-type(3n) {
        margin: 0 0 0 0;
   height: 100vh;
   width: 100%;
   display: flex;
   background-color: #1e202c !important;
  
   background: url('../../svgfiles/diagonal2.svg');
   background-attachment: fixed;
   font-size: 16px;
   color: white !important;
   
   line-height: 1.6;
   background-attachment: fixed;
             }
          .sub-card:nth-of-type(5n) {
            height: 100vh;
            margin: 0 0 0 0;
            width: 100%;
            background-color: #1e202c !important;
  
            background: url('../../svgfiles/diagonal2.svg');
            background-attachment: fixed;
            font-size: 16px;
            color: white !important;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
          
              }
              .sub-card:nth-of-type(4n) {
                height: 80vh;
                margin: 0 0 0 0;
                width: 100%;
              
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                background-attachment: fixed;
                color: white;
                  }
                  .sub-content1 p{
                    width: 90% !important;
                   
                    font-size: 16px;
                    line-height: 1.6;
                    text-align: left;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                  
                    
                  }
          
.dispersionsub-content{
  width: 100% !important;
  gap: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px !important;
 
}
.dispersion-img{
  width: 200px !important;
}

.disperssion-info{
  width: 90% !important;
  font-size: 16px !important;
  margin-top: -40px;
 
}
.sub-content1{
  width: 90%;
  font-size: 16px;
  line-height: 1.6;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
 
  font-size: 14px !important;
  
}
.dispersionsub-content2{
  width:100%;
  gap: 20px;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: black !important;

}

.dispersionsub-content3{
  width: 100%;
margin-top: -30px !important;
  font-size: 16px !important;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.stock-img{
  width: 200px !important;
  margin-top: 30px;
}
.dispersion-img{
  width: 180px !important;
  margin-top: -40px;
 
}
.dispersionsub-content4{
  width:100%;

  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}
.dispersionsub-content4 ul{
  width: 100%;
  font-size: 16px !important;
 

}

.sub-section h1{
  font-size: 20px;
}
}

    @media screen and (max-width: 480px) {
      .dispersion-img{
        width: 170px !important;
       
      }  
      .dispersionsub-content{
       
        margin-top: -30px;
       
      }
      .sub-dispersion{
        margin-top: -40px
      }
.disperssion-info{
  font-size: 14px !important;
}
  
.disperssion-info2{
  font-size: 14px !important;
}
.disperssion-info2 ul{
  font-size: 14px !important;
}
.disperssion-info2 h1{
  font-size: 16px !important;
}
}   
@media (max-width: 768px) {
  .dispersionbg {
    height: 85vh;
    background-size: cover;
    background-position: center;
   
    padding: 15px;
  }
} 

/* @media screen and (min-width: 768px) and (max-width: 1024px) {
 

  .dispersionsub-content {
    width: 90% !important;
    flex-direction: column;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;
    margin-top: -50px !important;
  }

  .sub-content1 {
    width: 90%;
    margin: 50px auto;
    font-size: 15px !important;
  }

  .dispersionsub-content2,
  .dispersionsub-content3,
  .dispersionsub-content4 {
    width: 90%;
    flex-direction: column;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
  }

  .dispersion-img, .stock-img {
    width: 30%;
  }

  .dispersion-content11 p {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px !important;
  }


  .sub-card:nth-of-type(1),
  .sub-card:nth-of-type(3n),
  .sub-card:nth-of-type(5n) {
    width: 100%;
    height: auto;
  
  }

  .sub-card:nth-of-type(2n) {
    margin: 20px auto;
    width: 100%;
    height: 100vh !important;
    background: #f9f9f9;
    color: black;
  }

  .dispersionsub-content4 ul {
    width: 90%;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
  }
} */




