
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.subinhousehero{
	background-image: url('../../Images/rehometerbg.png');
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  position: relative;
	padding: 50px 20px;
  background-attachment: fixed;
}
.subproduct-herodata{
  margin-top: -170px
}

.subinhouse-hero-heading {
  position: absolute; /* Makes the heading container position relative to its parent */
  top: 80px;
  left: -80px;
  width: 50%;
  padding: 20px; /* Add some space inside */
  background-color: rgba(0, 0, 0, 0.5); /* Transparent black background */
  color: white;
  z-index: 10;
 

  margin-top: -20px;
  flex: 2;
  margin-left: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: bold;
}
.subinhouseproduct-section {
  height: 100vh;
  text-align: center;
  position: relative;
  width: 100%;
  overflow: visible;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  color: black;
  display: flex;
  flex-direction: column;
  background-attachment: fixed;
  position: relative;
  z-index: -1; 
}
.subfacility-herodata{
  margin-top: -170px;
}

.subproduct-herodata{
  margin-top: -170px;

}
.inhouse-image{
  display: flex;
justify-content: center;
align-items: center;
max-width: 300px;
height: 200px;
margin-left: 30px;
}
.inhouse-content1{
  width: 600px;
  text-align: left;
  font-size: 16px;
	line-height: 1.8;
}
.inhouse-content2{
  width: 600px;
  text-align: left;
  font-size: 16px;
	line-height: 1.8;
}
.inhouse-content3{
  width: 600px;
  text-align: left;
  font-size: 16px;
	line-height: 1.8;
}
/* media query for silicon hero section*/

@media (max-width: 1024px) { 
  .subinhousehero {
    height: 60vh;
    padding: 40px 15px;
  }

  .subinhouse-hero-heading {
    top: 100px;
    left: 0;
    width: 70%;
    height: 30vh;
    margin-left: 50px;
  }

  .subproduct-herodata {
    margin-top: 10px;
  }

  .subinhouse-hero-heading h1 {
    font-size: 28px;
  }

  .subinhouse-hero-headingg h2 {
    font-size: 20px;
    margin-left: -60px !important;
  }
}

@media (max-width: 768px) { /* Mobile */
  .subinhousehero {
    height: 60vh;
    padding: 30px 10px;
   
  }
  .subfacility-herodata{
    margin-top: -170px;
  }

  .subinhouse-hero-heading {
    top: 30px;
    left: 0;
    width: 70%;
    margin-left: 20px;
    background-color: rgba(0, 0, 0, 0.7); /* Darken background for readability */
  }

  

  .subinhouse-hero-heading h1 {
    font-size: 2rem !important;
    margin-top: 200px !important;
  }

  .subinhouse-hero-heading h2 {
    font-size: 18px !important;
    margin-left: -100px !important;
  }
}

@media (max-width: 480px) { /* Small Mobile */
  .subinhousehero {
    height: 60vh;
    padding: 30px 10px;
   
  }

  .subinhouse-hero-heading {
    top: 30px;
    left: 0;
    width: 70%;
    margin-left: 20px;
    background-color: rgba(0, 0, 0, 0.7); /* Darken background for readability */
  }

  .subfacility-herodata{
    margin-top: -170px !important;
  }
  .subinhouse-hero-heading h1 {
    font-size: 1.3rem !important;
  }

  .subinhouse-hero-heading h2 {
    font-size: 14px !important;
    margin-left: 50px !important;
  }
  .facility-image{
width: 300px !important;
height: 200px !important;
  }
.inhouse-image{
  display: flex;
justify-content: center;
align-items: center;
max-width: 300px;
height: 200px;
margin-left: 30px;
}
.inhouse-content1{
  width: 200px;
  text-align: left;
  font-size: 14px;
	line-height: 1.6;
  margin-top: 20px !important;
}
.inhouse-content2 ul{
  width: 200px;
  text-align: left;
  font-size: 14px;
	line-height: 1.6;
  margin-top: 100px !important;
}
}

.subinhouseinfo-section {
  height: 100vh;
  background-image: url('../../Images/rehometerbg3.jpg');
	background-color: linear-gradient(180deg, #1e202c 0%, #2c2f3f 100%);

	background-position: center !important;
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  position: relative;
}

.info-right h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.info-right p {
  font-size: 1.2rem;
  max-width: 600px;
  margin: 0 auto;
}



.subinhouse-article {
 
  background-image: url('../../Images/rehometerbg3.jpg');

  background-position:50% center !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  position: relative;
	z-index: 1;
	color: #000;
	background-attachment: fixed;
}
article .content {
  position: relative;
  z-index: 2; 
}
@media screen and (min-width: 700px) {
  
	.subinhouse-card {
		background:white;
		width: calc( 50% + 1px);
		height: 100vh;
		margin: 0 0 0 0;
		position: sticky;
		top: 0;
		overflow: hidden;
   z-index: 1000;

			}
	
			.subinhouse-card:nth-of-type(2n)::after {
		right: 45%;
		left: 5vmin;
	}
			.subinhouse-card:nth-of-type(1) {
		margin: 0 0 0 0;
		width: 50%;
			}
			.subinhouse-card:nth-of-type(2n) {
		margin: 0 0 0 auto;
		
			}
     
}


/* For mobile view*/
@media screen and (max-width: 700px) {
  
	.subinhouse-card {
		background:white;
		width: calc( 100% + 1px);
		height: 100vh;
		margin: 0 0 0 0;
		position: sticky;
		top: 0;
		overflow: hidden;
z-index: 1000;

		
	
			}
	
			.subinhouse-card:nth-of-type(2n)::after {
		right: 50%;
		left: 5vmin;
	}
			.subinhouse-card:nth-of-type(1) {
		margin: 0 0 0 0;
		width: 80% !important;
			}
			.subinhouse-card:nth-of-type(2n) {
		margin: 0 0 0 auto;
		
			}
      .inhouse-content1{
        margin-left: 0;
        margin-top: 50px;
        width: 80%;
        text-align: left;
      }
      .product-content p{
        
        font-size: 16px;
        padding: 60px;
        line-height: 1.8;
        text-align: left;
      }
      .facility-image{
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 300px;
        height: 200px;
        padding: 0 30px;
        margin-bottom: -30px;
     margin-left: -50px;
        }
}
/*ablet Size Adjustments */
@media screen and (max-width: 768px) {
  


  .inhouse-content1 {
    width: 80%;
    text-align: left;
    margin: 20px auto;
  }

  .inhouse-content2 ul {
    width: 80%;
    text-align: left;
    font-size: 14px;
    line-height: 1.6;
    margin-top: 50px !important;
  }

  .facility-image {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    height: 200px;
    padding: 0 20px;
    margin-bottom: -20px;
    margin-left: 0;
  }
}



@media screen and (max-width: 480px) {
  
	.subinhouse-card {
		background:white;
		width: calc( 50% + 1px);
		height: 100vh;
		margin: 0 0 0 0;
		position: sticky;
		top: 0;
		overflow: hidden;
z-index: 1000;

		
	
			}
	
			.subinhouse-card:nth-of-type(2n)::after {
		right: 45%;
		left: 5vmin;
	}
			.subinhouse-card:nth-of-type(1) {
		margin: 0 0 0 0;
		width: 50%;
			}
			.subinhouse-card:nth-of-type(2n) {
		margin: 0 0 0 auto;
		
			}
      .product-content p{
        
        font-size: 16px;
        padding: 60px;
        line-height: 1.8;
        text-align: left;
      }
      .facility-image{
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 300px;
        height: 200px;
        padding: 0 30px;
        margin-bottom: -30px;
     margin-left: -50px;
        }
        
        
        .inhouse-content2{
          width: 200px;
          text-align: left;
          margin-top: 150px !important;
          font-size: 14px !important;
          line-height: 1.2 !important;
        }
        .inhouse-content3{
          width: 200px;
          font-size: 14px !important;
        margin-left: 25px;
          margin-top: 40px;
          text-align: left;
        }
}
/* Background Section */
.background-section {
  position: relative;
  height: 100vh; /* Adjust height as needed */
  background-image: url("../../Images/hoses4.jpg"); /* Replace with your background image path */
  background-size: cover; /* Ensure the background covers the section */
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  background-attachment: fixed;
  overflow: hidden; /* Ensure no extra content spills outside */
}

/* Overlay Content */
.background-overlay {
  position: relative;
  z-index: 2; /* Ensure content appears above the SVG */
}

/* Diagonal SVG Overlay */
.background-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../../svgfiles/diagonal2.svg');
  opacity: 0.5; /* Adjust opacity to control visibility of the diagonal lines */
  z-index: 1; /* Ensure it appears below content but above the background image */
  pointer-events: none; /* Prevent the SVG from interfering with user interactions */
}

/*Burst-Pressure CSS*/
.BurstPressure-hero{
  background-image: url('../../Images/burstprssurebg.avif');
  height: 80vh;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  position: relative;
	padding: 50px 20px;
  background-attachment: fixed;
}
.BurstPressureinfo-section{
  height: 80vh;
  background-image: url('../../Images/burstpressurebg2.avif');
	background-color: linear-gradient(180deg, #1e202c 0%, #2c2f3f 100%);
padding: 50px 20px;
	background-position: center !important;
  background-repeat:no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  position: relative;
}
.BurstPressure-article{
  background-image: url('../../Images/burstpressurebg2.avif');

  background-position:50% center !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  position: relative;
	z-index: 1;
	color: #000;
	background-attachment: fixed;
}
/*OZONE CSS*/
.Ozone-hero{
  background-image: url('../../Images/ozonbg.avif');
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  position: relative;
	padding: 50px 20px;
  background-attachment: fixed;
}
.Ozoneinfo-section{
  height: 80vh;
  background-image: url('../../Images/ozonebg2.jpg');
	background-color: linear-gradient(180deg, #1e202c 0%, #2c2f3f 100%);
padding: 50px 20px;
	background-position: center !important;
  background-repeat:no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  position: relative;
}
.Ozone-article{
	background-image: url('../../Images/hoses13.png');

  background-position:50% center !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  position: relative;
	z-index: 1;
	color: #000;
	background-attachment: fixed;
}

/*UTM CSS*/
.Utm-hero{
  background-image: url('../../Images/utmbg2.avif');
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  position: relative;
	padding: 50px 20px;
  background-attachment: fixed;
}
.UTM-article{
	background-image: url('../../Images/hoses10.avif');

  background-position:20% center !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  position: relative;
	z-index: 1;
	color: #000;
	background-attachment: fixed;
}


/*Heating-Hero CSS*/
.heating-hero{
  background-image: url('../../Images/heatingbg.jpg');
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  position: relative;
	padding: 50px 20px;
  background-attachment: fixed;
}

.heatingoven-article{
	background-image: url('../../Images/heatingovenbg2.jpg');

  background-position:50% center !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
background-color:  #f9640b;
  position: relative;
	z-index: 1;
	color: #000;
	background-attachment: fixed;
}

/*Muffle Furnance CSS*/
.muffle-hero{
  background-image: url('../../Images/mufflebg.avif');
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  position: relative;
	padding: 50px 20px;
  background-attachment: fixed;
}

.muffle-article{
  background-image: url('../../Images/muffle\ bg.jpg');

  background-position:50% center !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  position: relative;
	z-index: 1;
	color: #000;
	background-attachment: fixed;
}
