/* General Footer Styling */
.footer {
  background-color: #222;
  color: white;
  padding: 50px ;
  font-size: 14px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  padding: 0 20px ;
}

.footer-container > div {
  flex: 1;
  min-width: 200px;
}

.footer-container h5 {
  font-size: 18px;
  margin-bottom: 20px;
  color: white;
}

.footer-container p {
  font-size: 16px;
  color: white;
}

.footer-container ul {
  list-style-type: none;
  padding: 0;
}

.footer-container ul li {
  margin-bottom: 10px;
}

.footer-container ul li a {
  font-size: 16px;
  color: white;
  text-decoration: none;
}

.footer-container ul li a:hover {
  color:#ffc107;
}

/* Contact Info Styling */
.Contact-info {
  margin-top: 20px;
}

.Contact-item {
  display: flex;
  align-items: center;
  color: white;
  margin-bottom: 10px;
  text-decoration: none;
}

.Contact-item:hover {
  color: #ffc107;
}

.Contact-item .icon {
  margin-right: 10px;
}

/* Social Icons Styling */
.footer-social-icons {
  margin-top: 30px;
}

.footer-social-icons h5 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-social-icons .social-icons {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.footer-social-icons .social-icons a {
  color: white;
  font-size: 24px;
  transition: color 0.3s ease;
}

.footer-social-icons .social-icons a:hover {
  color:#ffc107;
}

/* Newsletter Section */
.footer-newsletter{
  margin-left: -40px;
}
.footer-newsletter form {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  
}

.footer-newsletter input {
  padding: 10px;
  width: 100%;
  max-width: 250px;
  border: 1px solid #ccc;
  border-radius: 30px;
  outline: none;
}

.footer-newsletter button {
  background-color: #ffc107;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.footer-newsletter button:hover {
  background-color:#ffc107;
}

/* Map Section */
.footer-map{
width: 230px;
height: 250px;
}
.footer-map iframe {
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
 
}

/* Footer Text Styling */
.footer-text {
  background-color: #111;
  text-align: center;
  padding: 20px;
  color: white;
  font-size: 16px;
}

.footer-text p {
  margin: 0;
}

/* Responsive Styling */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-container > div {
    min-width: 100%;
    text-align: center;
  }

  .footer-newsletter form {
    flex-direction: column;
    align-items: center;
  }

  .footer-newsletter input {
    width: 80%;
  }
}
