body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: 'Poppins', sans-serif;
}


.Product-hero {

  height: 80vh;
  background-image: url('../../Images/images-hoses.webp');
 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover !important;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  color: white;
  position: relative;
}



 .Product-hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.7;
  z-index: -1;
}  
.Product-hero-content {
min-height: 30vh;
  background: rgba(241, 143, 23, 0.2); 
  border-radius: 12px; 
  color: #fff;
  padding: 50px 20px;
margin-top: 80px;
margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 90%;
  max-width: 1000px;
  text-align: left;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* Optional shadow for depth */
}

.Product-hero-content::before {
  content: ""; 
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom:  0;
  background-image: url('../../Images/wave2.avif') !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  opacity: 0.6;
  z-index: -1; 
}
.product-herodata{
  margin-top: 80px;
  width: 100%;
  max-width: 100%;
  padding: 20px;
  word-break: break-word;
  text-align: left;
}
.Product-hero-heading {
  margin-top: -90px;
  flex: 2;
  margin-left: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: bold;
}
.Product-hero-heading h1{
  width: 600px !important;
  font-size: 3.5rem !important;
  margin-left: 30px;
}
.product-herodata h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 20px 0 0 32px;
}
.product-herodata p, 
.product-herodata b {
  font-size: 14px;
  line-height: 1.4;
  margin: 5px 0;
  word-break: break-word;
  max-width: 100%;
  overflow-wrap: break-word;
}
/* Keyframes for the unrolling effect */
@keyframes horizontalUnroll {
  0% {
    clip-path: inset(0 100% 0 0);
    opacity: 0; 
  }
  50% {
    clip-path: inset(0 50% 0 0); /* Halfway unrolled */
    opacity: 0.5; /* Partially visible */
  }
  100% {
    clip-path: inset(0 0 0 0); /* Fully visible */
    opacity: 1; /* Fully visible */
  }
}

/* Styling for the heading */
.vertical-line h1 ,
.Product-hero-heading h2,.Product-hero-heading h1,.Product-hero-heading p{
  display: inline-block;
  animation: horizontalUnroll 2s ease-out;
  animation-fill-mode: forwards; 
  opacity: 0;
  overflow: hidden;
}

/* Optional: Add delay for h2 */
.Product-hero-heading h2 {
  animation-delay: 0.5s;
  font-weight: bold !important;
}

.Product-hero-heading h1 {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}

.Product-hero-heading h1 span {
  padding-left: 10px;
}

.Product-hero-heading h2 {
  font-size: 1.3rem;
  font-weight: lighter;
}

/* Annimations*/
/* Keyframes for right-to-left unrolling */
@keyframes unrollRightToLeft {
  0% {
    clip-path: inset(0 0 0 100%); /* Hidden from the right */
    opacity: 0; /* Fully invisible */
  }
  50% {
    clip-path: inset(0 0 0 50%); /* Halfway unrolled */
    opacity: 0.5; /* Partially visible */
  }
  100% {
    clip-path: inset(0 0 0 0); /* Fully visible */
    opacity: 1; /* Fully visible */
  }
}

/* Styling for the right-to-left animation */
.Product-hero-description {

  animation: unrollRightToLeft 2s ease-out;
  animation-fill-mode: forwards; 
  opacity: 0;
  overflow: hidden; 
}


.Product-hero-description {
  flex: 2;
  font-size: 16px;
  line-height: 1.6;
}

.Product-hero-description p {
  margin-bottom: 10px;
  margin-left: 30px;
}

/* About Info Section */

/*Annimation */
/* Custom unrolling animation */
@keyframes unrollFromTop {
  0% {
    clip-path: inset(100% 0 0 0); /* Hidden from top */
    opacity: 0;
  }
  100% {
    clip-path: inset(0 0 0 0); /* Fully visible */
    opacity: 1;
  }
}

[data-aos="unroll"] {
  animation: unrollFromTop 2s ease-out forwards;
  opacity: 0;}


  .universal{
    height: 80vh;
    background-image: url('../../Images/universal-removebg-preview.png');
    /* Replace with your image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain !important;
    background-attachment: fixed;
    display: flex;
  
    color: white;
    position: relative;
  }
  
/**/
.Product-info{
  display: flex;
  background-color: #1e202c !important;
  min-height: 50vh;
  background: url('../../svgfiles/diagonal2.svg');
  background-attachment: fixed;

  display: flex;
  justify-content: center; /* Center content */
  align-items: center;

}


.Product-info-container {
 

display: flex;
  flex-direction: row; /* Ensures text goes right on larger screens */
  justify-content:flex-end;
  align-items: center;
  width: 100%;

}



.Product-info-text {

  flex: 1;
  max-width: 600px;
  text-align: left;
  padding: 15px;
  margin-left: auto;
}


.Product-info-text p {
  
  font-size: 16px;
  line-height: 1.8;
  color: white;
  word-wrap: break-word;
}

.Product-info-text ul {
  list-style-type: none;
  padding-left: 0;
}

.Product-info-text ul li {
  font-size: 1rem;
  margin-bottom: 10px;
}

/* Add Sticky Effect */
.Product-info.sticky {
  position: sticky;
  top: 0; 
  z-index: 10;
}
/* Responsive Design */
@media (max-width: 768px) {
  .Product-info-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .Product-info-text {
    max-width: 90%;
    text-align: left;
  }
  .Product-info-text p {
    font-size: 16px !important;
  }
}

/* Mobile Screens - 480px */
@media (max-width: 480px) {
  .Product-info-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
  }

  .Product-info-text {
    max-width: 100%;
    text-align: left;
    padding: 10px;
  }

  .Product-info-text h1 {
    font-size: 1.5rem !important;
  }

  .Product-info-text p {
    font-size: 16px;
  }
}


.productpage-section2{

  height: 80vh;
  background: radial-gradient(circle, #020202 0%, #020202 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover !important;
  background-attachment: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: center;
color:white;
font-weight: bold;
  position: relative
}
.productpage{
  width: 100%;
  height: 80vh;
  background-image: url('../../Images/car.avif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover !important;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color:white;
  font-weight: bold;
  position: relative
}
.trusted-product{
  width: 550px;
  position: relative;
margin-top: -240px;
margin-left: 30px;
display: flex;
flex-direction: column;
}
.trusted-product h2{
  font-size: 24px !important;
  
}
/**/
.Product-gallery {
  padding: 40px;
  background: linear-gradient(180deg, #1e202c 0%, #2c2f3f 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover !important;
  background-attachment: fixed;
  display: flex;
  position: relative
}

.Product-gallery-container {

  margin: 0 auto;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 50px;
  
}

.gallery-item {
  position: relative;
  overflow: hidden;
  height: 400px;

}

.gallery-heading {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color:white;
  text-align: left;
}

.gallery-item img {
  background-color: white;
  width: 100%;
  max-width: 500px !important;
  display: block;
  padding: 20px;
 
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6); /* Transparent black overlay */
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;

}

.overlay h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  
}
.overlay p {
  margin: 0 10px;
  font-size: 16px;
  text-align: center;
line-height: 1.6;
}

.nav-button {
  color: #fff;
  font-size: 2.5rem;
  transition: color 0.3s ease;
  text-decoration: none;
  margin: 30px;
}

.nav-button:hover {
  color: #ffa500; /* Highlight color for hover */
}

.gallery-item:hover img {
  transform: scale(1.1); /* Zoom in on hover */
}

.gallery-item:hover .overlay {
  opacity: 1;
}


/* General Styling */
.Product-hero-heading, .Product-info-text, .Product-hero-description {
  visibility: visible;
}

/* For screens 1200px and above */
@media (min-width: 1200px) {
  .Product-hero-heading h1 {
    font-size: 3.5rem !important;
  }

  .Product-hero-description p {
    font-size: 1.2rem;
  }

  .Product-info-text p {
    font-size: 16px;
  }

  .gallery-grid {
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
  }

  .gallery-item img {
    width: 100%;
  }

  /* Ensure .trusted-product is visible and positioned well */
  .trusted-product {
    margin-top: -240px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
  }

  .trusted-product h2 {
    font-size: 24px !important;
  }
}

/* For screens between 992px and 1199px */
@media (max-width: 1199px) and (min-width: 992px) {
  .Product-hero-heading h1 {
    font-size: 3.2rem !important;
  }

  .Product-hero-description p {
    font-size: 1.1rem;
  }

  .Product-info-text p {
    font-size: 15px;
  }

  .gallery-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
  }

  .gallery-item img {
    width: 100%;
  }

  .trusted-product {
    margin-top: -200px;
    margin-left: 20px;
  }
}

/* For screens between 768px and 991px */
@media (max-width: 991px) and (min-width: 768px) {
  .Product-hero-heading h1 {
    font-size: 2.5rem !important;
  }
  .product-herodata p{
  font-size: 12px;
  }
  .Product-hero-description p {
    font-size: 12px;
  }

  .Product-info-text p {
    font-size: 12px;
  }

  .gallery-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
  }

  .gallery-item img {
    width: 100%;
  }

  .trusted-product {
    margin-top: -150px;
    margin-left: 10px;
  }

  /* Adjust other content for visibility */
  .Product-hero-heading {
    margin-left: 0;
    font-size: 2rem;
  }
}

/* For screens between 480px and 767px */
@media (max-width: 767px) and (min-width: 480px) {
  .Product-hero {
    height: 80vh;
  }
  
  
  .product-herodata {
    padding: 20px;
    max-width: 100%;
    box-sizing: border-box;
  }

  .product-herodata h1 {
    font-size: 1.75rem !important; /* Unified size */
    margin-top: 20px;
    margin-left: 20px;
    text-align: center;
  }

  .product-herodata h2 {
    font-size: 1.25rem !important;
    text-align: center;
    margin-left: 20px;
  }

  .product-herodata p {
    font-size: 0.75rem !important;
    margin-left: 30px !important;
    line-height: 1.8 !important;
    margin-right: 20px;
    margin-top: 10px;
    max-width: 70% !important;
    padding: 0;
  }

  .Product-info-text h1 {
    font-size: 1.5rem !important;
  }

  .Product-info-text p {
    font-size: 0.875rem;
    padding: 20px !important;
  }

  .gallery-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .gallery-item img {
    width: 100%;
  }

  .trusted-product {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    margin-top: -200px;
  }

  .Product-hero-heading {
    margin-left: 0;
    font-size: 1.5rem;
    text-align: center;
  }

  .Product-info-container {
    padding: 20px;
  }
}


/* For screens smaller than 480px */
@media (max-width: 480px) {
  .Product-hero {
    height: 60vh;
  }
  .Product-hero-heading {
    margin-left: 0;
    font-size: 1.2rem;
    text-align: left;
  }
  .Product-hero-heading h1 {
    font-size: 1rem !important;
    width: 95% !important;
    margin-top: 20px;
  }
  .Product-hero-heading h2 {
    font-size: 16px !important;
  }

  .Product-hero-description p {
    font-size: 0.8rem;
  }
  .product-herodata{
    margin-top: 80px;
    width: 100%;
    max-width: 100%;
    padding: 10px;
    word-break: break-word;
    text-align: left;
  }
  .product-herodata h1{
    margin-top: 30px;
    font-size: 1.5rem !important;
  }
.product-herodata h2{
  font-size: 20px !important;
}
.product-herodata p {
  font-size: 0.75rem !important;
  margin-left: 30px !important;
  line-height: 1.8 !important;
  margin-right: 20px;
  margin-top: 10px;
  max-width: 90% !important;
  padding: 0;
}

  .gallery-grid {
    grid-template-columns: 1fr; /* 1 column */
  }

  .gallery-item img {
    width: 100%;
  }

    
  .trusted-product {
    width: 400px;
    margin-top: -300px;
    margin-left: 10px;
  }

  .Product-hero-heading {
    margin-left: 0;
    font-size: 1.5rem;
  }

  .Product-hero-content {
    padding: 30px 15px;
  }

  .Product-info-container {
    padding: 15px;
  }

  .Product-info-text p {
    font-size: 12px;
  }
}
